.table-light {
    background-color: #f7f9fc !important;
}

.table-dark {
    background-color: #293042 !important;
}

.td-body {
    background-color: #e7e8ec !important;
}

.td-body-dark {
    background-color: #202634 !important;
}