
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/iranyekan/woff2/IRANYekanWebRegular.woff2") format("woff2");
    /* FF39+,Chrome36+, Opera24+*/
  }
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/iranyekan/woff2/IRANYekanWebMedium.woff2") format("woff2");
    /* FF39+,Chrome36+, Opera24+*/
  }
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/iranyekan/woff2/IRANYekanWebMedium.woff2") format("woff2");
    /* FF39+,Chrome36+, Opera24+*/
  }
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/iranyekan/woff2/IRANYekanWebBold.woff2") format("woff2");
    /* FF39+,Chrome36+, Opera24+*/
  }
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/iranyekan/woff2/IRANYekanWebExtraBold.woff2") format("woff2");
    /* FF39+,Chrome36+, Opera24+*/
  }
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/iranyekan/woff2/IRANYekanWebBlack.woff2") format("woff2");
    /* FF39+,Chrome36+, Opera24+*/
  }
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 1000;
    src: url("/fonts/iranyekan/woff2/iranyekanwebextrablack.woff2") format("woff2");
    /* FF39+,Chrome36+, Opera24+*/
  }

body{margin:0;
  min-height:100vh;
  font-family:iranyekan;
  font-size:1rem;
  font-weight:400;
  line-height:1.625;
  color:#6c757d;
  background-color:#f7f9fc;
  -webkit-text-size-adjust:100%;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}